<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu" color="light"></ion-icon>
        </button>
        <ion-title>{{modeloMuseo.strNombre}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content>
  <section id="banner">
    <div class="img-cont">
      <img src="{{modeloMuseo.arrayStrImagen[0]}}" class="img-resp">
    </div>
    <div class="text-cont">
      <p class="title-sala">{{modeloMuseo.strNombre}}</p>
    </div>

    <div class="cont-fabs">
      <div class="info-fab fab" (click)="IrFeedback()">
        <i class="fa fa-star"></i>
      </div>
      <div class="audio-fab fab">
        <i class="fa fa-volume-up" (click)="reproducirAudio()"></i>
      </div>
    </div>
  </section>

  <section id="info-museo" [className]="leer_mas? 'extended':''">
    <a href="#" class="btn" (click)="leer_mas = !leer_mas">{{!leer_mas? 'Leer más': 'Mostrar menos'}}</a>
    <ion-row>
      <p class="parrafo" margin *ngIf="modeloMuseo.strDescripcion.length > 0" >
        {{modeloMuseo.strDescripcion}}
      </p>
    </ion-row>
    <ion-row *ngIf="leer_mas &&  modeloMuseo.arrayStrNombreFundador.length > 0">
        <p class="titulo-pequeno" [ngStyle]="{'background-image':'url('+modeloMuseo.arrayStrImagen[0]+')'}">Fundadores</p>
        <p class="parrafo" margin *ngFor="let fundador of modeloMuseo.arrayStrNombreFundador">{{fundador}}</p>
    </ion-row>
    <ion-row *ngIf="leer_mas && modeloMuseo.arrayStrDatosCuriosos.length > 0">
        <p class="titulo-pequeno" [ngStyle]="{'background-image':'url('+modeloMuseo.arrayStrImagen[0]+')'}">Datos Curiosos</p>
        <p class="parrafo dato" margin *ngFor="let dato of modeloMuseo.arrayStrDatosCuriosos">{{dato}}</p>
    </ion-row>
    
      
  </section>

  <section id="colecciones" *ngIf="modeloMuseo.arrayModeloSala.length > 0" >
      <p class="title-section">Colecciones destacadas</p>
      <ion-row col-sm-12 col-md-12 col-lg-12 no-margin no-padding>
        <ion-slides *ngIf="modeloMuseo.arrayModeloSala.length > 0" [autoplay]="modeloMuseo.arrayModeloSala.length > 1? 1500:false" [effect]="'slide'" [control]="true" [loop]="true" [zoom]="true">
          <ion-slide col-12 no-margin no-padding *ngFor="let sala of modeloMuseo.arrayModeloSala" (click)="irSala(sala)">
            <ion-card no-margin no-padding class="obra">
              <img class="img-resp" [src]="sala.arrayStrImagen[0]" class="col-12" />
              <div class="card-text-cont">
                <div class="card-title">{{sala.strNombre}}</div> 
              </div>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-row>
      <ion-row justify-content-center>
          <a href="#" class="btn" (click)="IrSalas()">Mostrar Salas</a>
      </ion-row>
  </section>

  <section id="slider-destacadas" *ngIf="modeloMuseo.arrayModeloObra.length > 0" >
    <p class="title-section">Obras destacadas</p>
    <ion-row col-sm-12 col-md-12 col-lg-12 no-margin no-padding>
      <ion-slides *ngIf="modeloMuseo.arrayModeloObra.length>0" [autoplay]="1700" [centeredSlides]="true" [effect]="'slide'" [control]="true" [loop]="true" [zoom]="true">
        <ion-slide (click)="irObra(obra)" col-12 no-margin no-padding *ngFor="let obra of modeloMuseo.arrayModeloObra">
          <ion-card col-12 no-margin no-padding class="obra">
            <img class="img-resp" [src]="obra.arrayStrImagen[0]" />
            <div class="card-text-cont">
              <div class="card-title">{{obra.strTitulo}}</div>
              <div class="card-subtitle">{{obra.arrayModeloArtista[0]}}</div>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </section>

</ion-content>