page-artista {
    .cont-fabs {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    #artista {
        width: 100%;
        img{
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }
}
