ion-header{
    box-shadow: none;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // padding: 5% 2%;
    width: 100%;

    .title-header{
        font-size: 2rem;
        font-weight: bold;
        color: map-get($colors, primary);
    }

    .fa-bars{
        font-size: 2rem;
        font-weight: bold;
        color: map-get($colors, secondary);
    }
}

ion-content{
    #map{
        width: 100%;
        height: 50vh;
        min-height: 400px;
    }

}