<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu" color="light"></ion-icon>
        </button>
        <ion-title>Bienvenido</ion-title>
    </ion-navbar>
</ion-header>

<ion-content color="gray">
    <div id="map"></div>

    <div>
        <ion-row justify-content-center>
            <a href="#" class="btn" (click)="IrMuseos()">Ver Museos</a>
        </ion-row>
    </div>
    <section id="calendario">
        <ion-row justify-content-center>
            <p class="title-section">Próximos eventos</p>
            <ion-slides *ngIf="arrayModeloEventos.length > 0" [autoplay]="1000" [centeredSlides]="true" [effect]="'slide'" [control]="true" [loop]="true"
                [zoom]="true">
                
                <ion-slide col-12s no-margin no-padding *ngFor="let item of arrayModeloEventos" (click)="irEvento(item)">
                    <ion-card col-12 no-margin no-padding class="evento">
                        <img src="{{item.arrayStrImagen[0]}}" />
                        <div class="card-text-cont">
                            <div class="card-title">{{item.strNombre}}</div>
                            <div class="card-subtitle">{{item.dteCreacion | date:'d MMMM yyyy'}}</div>
                        </div>
                    </ion-card>
                </ion-slide>
            </ion-slides>

            <a href="#" class="btn" (click)="IrCalendario()">Ver más</a>

        </ion-row>
    </section>

</ion-content>