page-recorridos{
    ion-slide{
        position: relative;
        z-index:0;
    }
    .cont-fabs{
        position: absolute;
        bottom: 5%;
        z-index: 2;
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    #info-sala{
        position: relative;
        margin-bottom: 15%;
        transition: all 2s linear;
        ion-row{
            margin-bottom:10%;
        }

        a.btn{
            margin: 0;
            position: absolute;
            bottom: -70px;
            left: 50%;
            transform: translate(-50%,0);
        }

        &:not(.extended)::after{
            content:'';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom,transparent,#fff);
        }
    }

    .fab{            
        &.appear{
            opacity: 1 !important;
            
            &.qr-fab{
                right: 25%;
            }
            &.search-fab{
                top: 20%;
            }
        }

        &.ellipsis-fab {
            position: fixed;
            border-radius: 10px;
            top: 10%;
            right: 5%;
        }
        
        &.qr-fab {
            opacity: 0;
            position: fixed;
            top: 10%;
            right: 5%;
            z-index: 5;
            background: map-get($colors, secondary ) ;
        }
        
        &.search-fab {
            opacity: 0;
            position: fixed;
            top: 10%;
            right: 5%;
            background: map-get($colors, secondary ) ;
            z-index: 5;
        }
    }
}
