// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-header{
    font-family: "Cinzel";
}

.vh-100{
    height: 100vh !important;
}

.img-resp {
    width: 100% !important;
}

section {
    margin-bottom: 5%;
}

.fab{
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    position: relative;
    z-index: 999;
    border-radius: 50%;
    background: map-get($colors,primary);
    transition: all .5s;
    
    i.fa{
        color:white;
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 2rem;
    }
}

.btn{
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(45deg ,map-get($colors, secondary),map-get($colors, primary));
    color:#fff;
    text-align: center;
    padding: 3% 10%;
    border: 1px solid map-get($colors, secondary);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 1.5rem;
}

#banner{
    position: relative;
    z-index: 2;
    &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 25%,rgba(0,0,0,0.9) 100%);
    }
    .text-cont{
        position: absolute;
        top:50%;
        left:50%;
        z-index: 5;
        transform: translate(-50%,-50%);
        width: 100%;
        h1{
            color:white;
            text-align: center;
            font-size: 5rem;
            font-weight: bolder;
        }
    }

    .img-resp{
        width: 100%;
        height: 75vh;
        object-fit: cover;
        object-position: center;
    }
}

.title-section{
    font-size: 2.5rem;
    line-height: 1.2em;
    text-transform:uppercase;
    text-align: center;
    font-weight: 100;
    font-family: 'Fira sans';
    margin: 0;
    padding: 10% 5% 10% 5%;
    position: relative;
    width: 100%;
    &::after{
        content:'';
        position: absolute;
        width: 15%;
        height: 0.5px;
        background: #000;
        bottom: 22%;
        left: 50%;
        transform: translateX(-50%);
    }
}

.title-sala{
    font-size: 3.75rem;
    line-height: 1.2em;
    text-transform:uppercase;
    text-align: center;
    font-weight: 800;
    font-family: 'Cinzel';
    margin: 0;
    color: #fff;
    width: 100%;
}

.title-obra{
    font-size: 3rem;
    line-height: 1.2em;
    text-transform:capitalize;
    text-align: center;
    font-weight: 100;
    font-family: 'Cinzel';
    margin: 0;
    padding: 10% 5% 10% 5%;
    position: relative;
    color: #000;
    width: 100%;
    &::after{
        content:'';
        position: absolute;
        width: 15%;
        height: 0.5px;
        background: #000;
        bottom: 22%;
        left: 50%;
        transform: translateX(-50%);
    } 
}

.title-autor{
    font-size: 1.5rem;
    line-height: 1.2em;
    text-transform:capitalize;
    text-align: center;
    font-weight: 100;
    font-family: 'Fira sans';
    margin: 0;
    padding: 0 3%;
    position: relative;
    color: #000;
    width: 100%;
}

.titulo-pequeno{
    font-size: 2.125rem;
    text-transform:capitalize;
    line-height: 1.2em;
    text-align: center;
    font-weight: bold;
    font-family: 'Fira sans';
    margin: 0 15px;
    padding: 10px 0;
    position: relative;
    color: #fff;
    width: 100%;
    position: relative;
    background-position: center;  
    background-size: cover; 
    z-index: 1;
    filter: grayscale(0.5);
    &::after{
        content:'';
        position: absolute;
        width: 100%;
        height: 100%;
        background:rgba(0,0,0,0.55);
        top: 0%;
        left: 0%;
        z-index: -1;
    } 
}

.parrafo{
    line-height: 1.2em;
    font-size: 1.5rem;
    text-align: justify;
    font-family: 'Fira sans';
    color: #000;
    width: 100%;
}

.fecha{
    line-height: 1.2em;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Fira sans';
    color: #000;
    width: 100%;
    padding: 0 5%;
    margin: 0;
}



/*SLIDE*/
.swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #F6F6F8;
    opacity: 0.5;
}

.swiper-pagination-bullet-active{
    background: #247897;
}


ion-card.obra{
            
    z-index: 0;
    margin: 0 0 4% 0;
    padding: 0;
    box-shadow: none;

    .card-text-cont{
        color:map-get($map: $colors, $key: secondary);
        text-align: center;
        .card-title{
            font-weight: bold;
            font-size: 2.75rem;
            font-family: 'Cinzel';
        }
        .card-subtitle{
            font-size: 1.5rem;
            font-family: 'Fira Sans';
        }
    }

    &::after{
        content:'';
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 25%,rgba(0,0,0,0.9) 100%);
    }
    img{
        max-height: 250px;
        object-fit: cover;
    }
}


ion-slides{
    z-index: 900;
    ion-card.obra{
        position: relative;
        z-index: 0;
        .card-text-cont{
            position: absolute;
            bottom: 50%;
            left:50%;
            transform: translate(-50%,50%);
            z-index: 2;
            color: #fff;
            text-align: center;
            .card-title{
                font-size: 3.75rem;
            }
            .card-subtitle{
                font-size: 2rem;
                font-family: 'Fira Sans';
            }
        }
        img{
            min-height: 450px;
            object-fit: cover;
        }

    }
}