<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Museo de la Muerte
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <section id="obra">
    <ion-slides *ngIf="modeloObra.arrayStrImagen.length > 0" [autoplay]="1000" [centeredSlides]="true" [effect]="'slide'" [control]="true" [loop]="true"
        [zoom]="true">
        
        <ion-slide col-12 no-margin no-padding *ngFor="let image of modeloObra.arrayStrImagen">
            <img src="{{image}}" class="img-resp">
        </ion-slide>
    </ion-slides>
  </section>

  <div class="cont-fabs">
    <div class="info-fab fab">
      <i class="fa fa-star"></i>
    </div>
    <div class="audio-fab fab">
      <i class="fa fa-volume-up"></i>
    </div>
    <div class="feedback-fab fab">
      <i class="fa fa-puzzle-piece"></i>
    </div>
  </div>

  <section id="info-obra">
    <ion-row col-sm-12 col-md-12 col-lg-12 no-margin no-padding>
      <p class="title-obra">{{modeloObra.strTitulo}}</p>
      <p class="title-autor">{{modeloObra.arrayModeloArtista.length > 1 ? "Autores:" : "Autor:" }} <span *ngFor="let autor of modeloObra.arrayModeloArtista; let i = index"> {{ (i+1)==modeloObra.arrayModeloArtista.length ? autor.strNombre : autor.strNombre+"," }} </span></p>
      <p class="fecha">{{modeloObra.dteCreacion | date:'d MMMM yy'}}</p>
    </ion-row>
    <ion-row>
      <p class="parrafo" margin>
        {{modeloObra.strDescripcion}}
      </p>
    </ion-row>
    <ion-row>
      <p class="titulo-pequeno" [ngStyle]="{'background-image':'url('+modeloObra.arrayStrImagen[0]+')'}">Datos Curiosos</p>
      <p class="parrafo" margin *ngFor="let dato of modeloObra.arrayStrDatosCuriosos">
        * {{dato}}
      </p>
    </ion-row>
    
  </section>

  <section id="obras-section">
    <ion-row *ngIf="arrayModeloObra.length > 0">
      <p class="title-section">Obras relacionadas</p>
      <ion-slides [autoplay]="1000" [centeredSlides]="true" [effect]="'slide'" [control]="true" [loop]="true" [zoom]="true">
        <ion-slide col-12 no-margin no-padding *ngFor="let obra of arrayModeloObra">
          <ion-card col-12 no-margin no-padding class="obra">
            <img src="{{obra.arrayStrImagen[0]}}" class="col-12" />
            <div class="card-text-cont">
              <div class="card-title">{{obra.strTitulo}}</div>
              <div class="card-subtitle">{{obra.arrayModeloArtista[0]}}</div>
            </div>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </section>
</ion-content>