page-obra {
    .cont-fabs {
        display: flex;
        justify-content: space-around;
    }

    #obra{
        width: 100%;
        img{
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }

    #info-obra{
        ion-row{
            margin-bottom:10%;
        }
    }

    .cont-artista{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 3% 0;
    }

    .mb-3{
        margin-bottom:3rem;
    }

    .radioIcon{
        width: 30%;
        height: 0;
        padding-bottom: 30%;
        border-radius: 50%;
        margin-right: 10px;
        position: relative;
        margin-bottom: 20px;
        transition: all 0.5s;
        border: 1px dashed #7b7c7c;

        img{
            width: 95%;
            height: 95%;
            object-fit: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 50%;
        }

        &.selected{
            border: 3px dashed #06465d;
            
        }
    }

    ion-slides{
        position: relative;
        z-index:0;
        ion-card.obra{
            img{
                width: 100%;
                min-height: 150px;
                object-fit: cover;
            }
        }
    }
}
