page-obra {
    .cont-fabs {
        display: flex;
        justify-content: space-around;
    }

    #obra{
        //height: 500px;
        width: 100%;
    }

    #info-obra{
        ion-row{
            margin-bottom:10%   ;
        }
    }

    ion-slides{
        position: relative;
        z-index:0;
        ion-card.obra{
            img{
                width: 100%;
                min-height: 150px;
                object-fit: cover;
            }
        }
    }
}
